<app-header></app-header>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/buisnessnews"> Buisness  news</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/politics"> politics</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/crime"> Crime</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/world"> World</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/technology"> Technology</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/sports"> sports</a>  </td>
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>

